// https://css-tricks.com/snippets/css/style-placeholder-text/
// Setting the placeholder's color
::-webkit-input-placeholder {
   color: #9da5b4;
}
:-moz-placeholder { /* Firefox 18- */
   color: #9da5b4;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #9da5b4;
}
:-ms-input-placeholder {
   color: #9da5b4;
}

// Changes the scrollbars
::-webkit-scrollbar {
   height: 8px;
   background: inherit; //#171b1f;
}
::-webkit-scrollbar-thumb {
   // border-radius: 10px;
   background: #528bff
   // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
