@import "./constants";

html {
   background: @main-background;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   margin: 0;
   width: auto;
   white-space: nowrap;
   overflow-y: hidden;
}
