body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   margin: 0;
   overflow-x: scroll;


   width: auto;
      white-space: nowrap;
      overflow-y: hidden;
}

.body {
   background: #aaa;
   height: 100%;
   margin-top: 52px;
   &.has-selections {
      margin-top: 90px;
   }
}

.q {
   width: 400px;
   display: inline-block;
   margin-right: 10px;
}

.tt {
   background: red;
}
.a {
   border-bottom: 1px solid #fff;
}
.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header {
   width: 100vw;
   position: fixed;
   top: 0;
   -webkit-backface-visibility: hidden;

   .header--top {
      padding: 4px 5px;
      display: flex;
      align-items: center;
      height: 52px;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
      //background: #f0f0f0;
   }
   .bottom {
      height: 38px;
      display: flex;
      align-items: center;
      //background: #f0f0f0;
   }
 }

.logo {
   // font-size: 20px;
   // margin: 0 10px;
   // font-weight: 900;

   img {
      height: 40px;
      margin: 0 10px 0 6px;
      cursor: pointer;
   }

}
@media only screen and (max-width: 600px) {
   .logo img {
      display: none;
   }
}


.account {
   display: flex;
   align-items: center;
   margin: 0 10px 0 5px;
   .material-icons {
      font-size: 30px;
      cursor: pointer;
      &:hover {
         font-size: 34px;
         margin: 0 -2px 0 -2px;
      }
   }
}

.header--right {
   display: flex;
   align-items: center;
   margin-left: auto;
   padding-left: 10px;
}

.view {
   display: flex;
   align-items: center;
   .material-icons {
      font-size: 26px;
      cursor: pointer;
      padding: 5px;
      color: #333;
      &.selected {
         color: #fff;
         background: #000;
      }
   }
}
