/*
 * This following is because you can't change the opacity of a background
 * that's already set.  So now you loop through all the colors, and set them
 * manually
 */
@import "colors";

@normalFade: 70%;
@hoverFade: 100%;
@focusFade: 30%;

.make-color-classes(@colors) {
   .iter(length(@colors));
   .iter(@i) when (@i > 0) {
      .iter(@i - 1);
      @pair: extract(@colors, @i);
      @key: extract(@pair, 1);
      @value: extract(@pair, 2);
      .color-@{key} {
         color: fade(@value, @normalFade);
         &:hover {
            color: fade(@value, @hoverFade);
            //background-color: fade(@value, @hoverFade);
         }
         &.selection {
            color: fade(@value, @hoverFade);
            //background-color: fade(@value, 40%);         }
         }
         &:focus {
            color: fade(@value, @hoverFade);
            //background-color: fade(@value, @focusFade);
         }
      }
   }
}

.make-color-classes(@colors);
/******************************************************************************/

.super-select {
   border: 1px solid #ccc; // same colour as parent, in order not to mess with spacing when focused
   background: #fff;
   display: flex;
   min-width: 200px;
   overflow: hidden;
   flex-grow: 1;
   &:hover {
      border: 1px solid #bbb;
   }
   &.focused {
      border: 1px solid #99b;
   }
}



@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}
